<h1>Creature#index</h1>
<p>Find me in app/views/creature/index.html.erb</p>
<table>
  <th>
    <td>Name</td>
  </th>
  <% @allCreatures.each do |c| %>
    <tr>
      <td><%= c.name %></td>
    </tr>
  <% end %>
</table>