<h1>All Creatures</h1>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
  </tr>
  <% @allCreatures.each do |c| %>
    <tr>
      <td><%= link_to c.name, creature_path(c.name) %></td>
    </tr>
  <% end %>
</table>