<h1>All Characters</h1>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Race</th>
  </tr>
  <% @allCharacters.each do |c| %>
    <tr>
      <td><%= link_to c.name, character_path(c.name) %></td>
      <td><%= c.race %></td>
    </tr>
  <% end %>
</table>