<h1>All Stats</h1>
<table class="table table-bordered">
  <tr>
    <th>Species</th>
    <th>HP</th>
    <th>Attack</th>
    <th>Armor</th>
  </tr>
  <% @allStats.each do |s| %>
    <tr>
      <td><%= link_to s.species, stat_path(s.species) %></td>
      <td><%= s.hp %></td>
      <td><%= s.attack %></td>
      <td><%= s.armor %></td>
    </tr>
  <% end %>
</table>