<h1>All Dragons</h1>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
  </tr>
  <% @allDragons.each do |d| %>
    <tr>
      <td><%= link_to d.name, dragon_path(d.name) %></td>
    </tr>
  <% end %>
</table>