<h1>About</h1>
<p>I am using Faker as my one and only data source.
Tables created using the Faker::Elder Scrolls, and Faker::Numbers
Character Table includes PK: Name, FK: Race
Dragon table includes PK FK: Name
Creature table includes PK FK: Name
Stats table includes PK: Species, HP, Attack, Armor
Scenario table includes PK: Region, City, Difficulty

Created tables with randomly generated data using Faker, every Character, Creature, and Dragon has an entry on the Stats table. The Scenarios table includes locations based on Regions of Tamriel.</p>


<%= image_tag("/assets/ERD.png",  alt: "like", class: "like_image_for_index") %>