<h1>All Scenarios</h1>
<p>Find me in app/views/scenario/index.html.erb</p>
<table class="table table-bordered">
  <tr>
    <th>Region</th>
    <th>City</th>
    <th>Difficulty</th>
  </tr>
  <% @allScenarios.each do |s| %>
    <tr>
      
      <td><%= link_to s.region, scenario_path(s.region) %></td>
      <td><%= s.city %></td>
      <% if(s.difficulty == 0) %>
        <td>Easy</td>
      <% else  %>
        <td>Hard</td>
      <% end %>
    </tr>
  <% end %>
</table>