<h1>Scenario#index</h1>
<p>Find me in app/views/scenario/index.html.erb</p>
<table>
  <th>
    <td>Region</td>
    <td>City</td>
    <td>Difficulty</td>
  </th>
  <% @allScenarios.each do |s| %>
    <tr>
      
      <td><%= link_to s.region, scenario_path(s.region) %></td>
      <td><%= s.city %></td>
      <% if(s.difficulty == 0) %>
        <td>Easy</td>
      <% else  %>
        <td>Hard</td>
      <% end %>
    </tr>
  <% end %>
</table>