<h1>Scenario#show</h1>
<p>Find me in app/views/scenario/show.html.erb</p>

<h4>Region: <%= @scenario.region %></h4>
<h4>City: <%= @scenario.city %></h4>
<% if(@scenario.difficulty == 0) %>
<h4>Difficulty: Easy</h4>
<% else %>
<h4>Difficulty: Hard</h4>
<% end %>